/* minifier http://cssminifier.com/ */

html {
    position: relative;
    min-height: 100%;
}
body {
    padding-bottom: 30px;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
    margin: 20px 0;
    text-align: center;
}

.text-muted {
    color: #777;
}

#middle-ad {
    padding-top: 10px;
}

.anchor-padding {
    padding-top: 70px;
}
.anchor-padding-small {
    padding-top: 40px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.jumbotron {
    margin-bottom: 0;
}

#share-alert {
    text-align: center;
}

#data-param-error {
    margin-top: 20px;
}

.score {
    text-align: center;
    font-size: xx-large;
}

.team-details .team-name {
    font-size: large;
    font-weight: bold;
}

.home {
    color: #3366cc;
}

.away {
    color: #dc3912;
}

.team-details .coach-name, .team-details .race {
    font-size: medium;
}

.team-details-left {
    text-align: right;
}

.team-details-right {
    text-align: left;
}

.stadium-name {
    text-align: center;
}